body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#side_nav {
    background: #072B31;
    min-width: 220px;
    max-width: 220px;
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.sidebar li.active {
    background: #0093B2;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: white;
}

.sidebar li a {
    color: #BEC5D4;
    margin-bottom: 8px;
}

.sidebar li a:hover {
    color: white;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }
}

.material-icons{
    vertical-align: -4px;
}