body {
    margin: 0;
}

#side_nav {
    background: #072B31;
    min-width: 220px;
    max-width: 220px;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    z-index: 1000;
}

#side_nav.collapsed {
    min-width: 70px;
    max-width: 70px;
}

#side_nav.collapsed .logo-container img {
    max-width: 40px;
}

#side_nav.collapsed ul li a span,
#side_nav.collapsed ul li a .material-icons~span {
    display: none;
}

#side_nav.collapsed .sidebar-footer a span {
    display: none;
}

#side_nav.collapsed .sidebar-footer {
    text-align: center;
}

.content {
    min-height: 100vh;
    width: calc(100% - 220px);
    margin-left: 220px;
    transition: all 0.3s;
}

.content.expanded {
    width: calc(100% - 70px);
    margin-left: 70px;
}

.sidebar li.active {
    background: #0093B2;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: white;
}

.sidebar li a {
    color: #BEC5D4;
    margin-bottom: 8px;
    font-size: 14.5px;
    white-space: nowrap;
}

.sidebar li a:hover {
    color: white;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed !important;
        min-height: 100vh;
        z-index: 400 !important;
        min-width: 220px !important;
        max-width: 220px !important;
        padding-top: 55px !important;
    }

    #side_nav.active {
        margin-left: 0 !important;
    }

    .content,
    .content.expanded {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #side_nav.collapsed ul li a span,
    #side_nav.collapsed ul li a .material-icons~span {
        display: inline
    }
}

.material-icons {
    vertical-align: -4px;
}