.bg {
    background-image: url(../../img/hwiLogo.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

body {
    background: #072B31;
    background: linear-gradient(to left, #0093B2, #072B31);
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    top: -12px;
    left: 0px;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    color: #333;
    margin-left: 68px;
}

.custom-input {
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    width: 80%;
    transition: border-color 0.3s;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 60px;
}

.custom-input:focus {
    outline: none;
    border-color: #17a2b8;
}

.custom-input:focus+.floating-label,
.custom-input:not(:placeholder-shown)+.floating-label {
    top: -30px;
    font-size: 0.9rem;
    color: #17a2b8;
}

.password-toggle {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: -15px;
    display: none;
    background: none;
    border: none;
}

.containerChangePassword {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .containerChangePassword {
        width: 90%; /* Cambia el ancho del contenedor para pantallas más pequeñas */
        margin-top: 30px; /* Ajusta el margen superior para pantallas más pequeñas */
        margin-bottom: 50px; /* Ajusta el margen inferior para pantallas más pequeñas */
    }
}

.titleContraseña{
    margin-top:-40px; 
    margin-left: 40px; 
    font-weight: bold;
    font-size: 18px;
}

.subtitleContraseña{
    color: #666;
    margin-left: 40px; 
    margin-top:-15px
}

button {
    width: 35%;
    float: right;
    margin-right: 35px;
}

/* Media query para ajustar el tamaño del botón en dispositivos móviles */
@media (max-width: 768px) {
    button {
        width: 50%;
        margin-right: 30px;
    }
}

